.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-alarm-clock {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-browser {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-computer {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-dice {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-edit-tools {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-file {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-firewall {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-flask {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-gamepad {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-hierarchy-structure {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-laptop {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-layers {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-levels {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-link {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-magnifying-glass {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-microscope {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-open-box {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-padlock {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-pen {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-pie-chart {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-play-video {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-protractor {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-puzzle {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-search {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-seo {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-shield {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-shopping-bag {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-shopping-cart {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-strategy {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-swiss-army-knife {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-target {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-traffic-lights {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-transfer {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-visibility {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-worldwide {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-worldwide-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-wrench {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-writing {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
