.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../img/sprite-svg.svg");
      background-repeat: no-repeat;
      background-size: 52.200300000000006em 2610.2em;

      .no-svg & {
        background-image: url("../img/sprite-svg.png");
      }
    }
}




.icon.alarm-clock {
  &:before {
      background-position: -0.5em -0.5em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-alarm-clock(){
    @extend .alarm-clock;
  }


.icon.archives {
  &:before {
      background-position: -0.5em -52.7em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-archives(){
    @extend .archives;
  }


.icon.atom {
  &:before {
      background-position: -0.5em -104.9em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-atom(){
    @extend .atom;
  }


.icon.browser {
  &:before {
      background-position: -0.5em -157.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-browser(){
    @extend .browser;
  }


.icon.cards {
  &:before {
      background-position: -0.5em -209.3em;
      width: 51.200300000000006em;
      height: 51.200300000000006em;
    }
  }

  @mixin icon-cards(){
    @extend .cards;
  }


.icon.cloudy {
  &:before {
      background-position: -0.5em -261.6em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-cloudy(){
    @extend .cloudy;
  }


.icon.cogwheel {
  &:before {
      background-position: -0.5em -313.8em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-cogwheel(){
    @extend .cogwheel;
  }


.icon.compass {
  &:before {
      background-position: -0.5em -366em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-compass(){
    @extend .compass;
  }


.icon.computer {
  &:before {
      background-position: -0.5em -418.2em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-computer(){
    @extend .computer;
  }


.icon.computer-1 {
  &:before {
      background-position: -0.5em -470.4em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-computer-1(){
    @extend .computer-1;
  }


.icon.cone {
  &:before {
      background-position: -0.5em -522.6em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-cone(){
    @extend .cone;
  }


.icon.crown {
  &:before {
      background-position: -0.5em -574.8em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-crown(){
    @extend .crown;
  }


.icon.diamond {
  &:before {
      background-position: -0.5em -627em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-diamond(){
    @extend .diamond;
  }


.icon.dice {
  &:before {
      background-position: -0.5em -679.2em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-dice(){
    @extend .dice;
  }


.icon.edit-tools {
  &:before {
      background-position: -0.5em -731.4em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-edit-tools(){
    @extend .edit-tools;
  }


.icon.file {
  &:before {
      background-position: -0.5em -783.6em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-file(){
    @extend .file;
  }


.icon.firewall {
  &:before {
      background-position: -0.5em -835.8em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-firewall(){
    @extend .firewall;
  }


.icon.flask {
  &:before {
      background-position: -0.5em -888em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-flask(){
    @extend .flask;
  }


.icon.gamepad {
  &:before {
      background-position: -0.5em -940.2em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-gamepad(){
    @extend .gamepad;
  }


.icon.hierarchy-structure {
  &:before {
      background-position: -0.5em -992.4em;
      width: 51.200300000000006em;
      height: 51.200300000000006em;
    }
  }

  @mixin icon-hierarchy-structure(){
    @extend .hierarchy-structure;
  }


.icon.ladybug {
  &:before {
      background-position: -0.5em -1044.7em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-ladybug(){
    @extend .ladybug;
  }


.icon.laptop {
  &:before {
      background-position: -0.5em -1096.9em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-laptop(){
    @extend .laptop;
  }


.icon.layers {
  &:before {
      background-position: -0.5em -1149.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-layers(){
    @extend .layers;
  }


.icon.levels {
  &:before {
      background-position: -0.5em -1201.3em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-levels(){
    @extend .levels;
  }


.icon.link {
  &:before {
      background-position: -0.5em -1253.5em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-link(){
    @extend .link;
  }


.icon.magnifying-glass {
  &:before {
      background-position: -0.5em -1305.7em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-magnifying-glass(){
    @extend .magnifying-glass;
  }


.icon.microscope {
  &:before {
      background-position: -0.5em -1357.9em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-microscope(){
    @extend .microscope;
  }


.icon.open-box {
  &:before {
      background-position: -0.5em -1410.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-open-box(){
    @extend .open-box;
  }


.icon.padlock {
  &:before {
      background-position: -0.5em -1462.3em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-padlock(){
    @extend .padlock;
  }


.icon.pen {
  &:before {
      background-position: -0.5em -1514.5em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-pen(){
    @extend .pen;
  }


.icon.pie-chart {
  &:before {
      background-position: -0.5em -1566.7em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-pie-chart(){
    @extend .pie-chart;
  }


.icon.play-video {
  &:before {
      background-position: -0.5em -1618.9em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-play-video(){
    @extend .play-video;
  }


.icon.plug {
  &:before {
      background-position: -0.5em -1671.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-plug(){
    @extend .plug;
  }


.icon.protractor {
  &:before {
      background-position: -0.5em -1723.3em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-protractor(){
    @extend .protractor;
  }


.icon.puzzle {
  &:before {
      background-position: -0.5em -1775.5em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-puzzle(){
    @extend .puzzle;
  }


.icon.search {
  &:before {
      background-position: -0.5em -1827.7em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-search(){
    @extend .search;
  }


.icon.seo {
  &:before {
      background-position: -0.5em -1879.9em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-seo(){
    @extend .seo;
  }


.icon.shield {
  &:before {
      background-position: -0.5em -1932.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-shield(){
    @extend .shield;
  }


.icon.shopping-bag {
  &:before {
      background-position: -0.5em -1984.3em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-shopping-bag(){
    @extend .shopping-bag;
  }


.icon.shopping-cart {
  &:before {
      background-position: -0.5em -2036.5em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-shopping-cart(){
    @extend .shopping-cart;
  }


.icon.strategy {
  &:before {
      background-position: -0.5em -2088.7em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-strategy(){
    @extend .strategy;
  }


.icon.swiss-army-knife {
  &:before {
      background-position: -0.5em -2140.9em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-swiss-army-knife(){
    @extend .swiss-army-knife;
  }


.icon.target {
  &:before {
      background-position: -0.5em -2193.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-target(){
    @extend .target;
  }


.icon.traffic-lights {
  &:before {
      background-position: -0.5em -2245.3em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-traffic-lights(){
    @extend .traffic-lights;
  }


.icon.transfer {
  &:before {
      background-position: -0.5em -2297.5em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-transfer(){
    @extend .transfer;
  }


.icon.visibility {
  &:before {
      background-position: -0.5em -2349.7em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-visibility(){
    @extend .visibility;
  }


.icon.worldwide {
  &:before {
      background-position: -0.5em -2401.9em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-worldwide(){
    @extend .worldwide;
  }


.icon.worldwide-1 {
  &:before {
      background-position: -0.5em -2454.1em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-worldwide-1(){
    @extend .worldwide-1;
  }


.icon.wrench {
  &:before {
      background-position: -0.5em -2506.3em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-wrench(){
    @extend .wrench;
  }


.icon.writing {
  &:before {
      background-position: -0.5em -2558.5em;
      width: 51.2em;
      height: 51.2em;
    }
  }

  @mixin icon-writing(){
    @extend .writing;
  }



