@import "vars";
@import "fonts";

// Sprites for png and svg
@import "sprite";
@import "sprite-svg";

body, html {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.red_mod {
	width: 50px;
	height: 50px;
	transition: all 1s ease; 
	user-select: none;
}