doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Universal template
		
        link(href="./css/main.min.css"  rel="stylesheet")
    body
        include parts/header.pug

        div
            p Hello, World!

        include parts/footer.pug

        script(src="./js/main.min.js")